{% include 'navbar.html' %}
<style>
    img{
        height: 300px;
        width: 1300px;
        size: cover;
    }
    .edufair-footer-1x {
    background: linear-gradient(to right, #12C3D2, #2edfb4 );
    width: 100%;
    color: #f1f1f1;
    padding-top: 70px;
    margin-top: 60px;
}
p{
    font-weight: 500;
}
</style>

<div class="container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiz69QawkFrXJv_VOvcxPZBVOvc7Ze3dBRtf6_VaXGOg&usqp=CAU&ec=48665701" alt="" srcset="">
</div>

<br>
<div class="container">

    <p>Demo laboratories private limited is a leading chemical and drug Discovery Company offers custom synthesis of organic molecules for biotech and pharmaceutical applications. We provide solutions to your complex and challenging custom synthesis projects.</p>
    <div>
        <p>
        Our small-scale and large-scale chemistry capabilities are able to undertake your projects and work with them right from idea to final production at any scale.

The big advantage we have is our operational flexibility and long-standing expertise, big library with syndicated databases, and latest software's.
We provide <br>
1. Faster Quality Product Development with optimized cost <br>
2. We help to reduce the transition time between drug discovery to development of product
3.Innovative and quality solution to synthetic chemistry problems <br>
4.Laboratory and Commercial Scale Up Services <br>

5.Services for Optimization and designing of Synthetic route for Finished products, Intermediates, Reference Compound and Metabolites
<br>
6.Services for Resolution of Enantiomers and Chiral Separation etc.
<br>
<br>
<p class="pp" style="font-size: 45px;">Facilities :</p> 

1. Synthetic Facilities <br>
Modern well equipped organic synthesis laboratory consisting of good quality Fuming Hood for dry reaction with temperature ranges from 0oC to -78oC or below, High Pressure Reaction, Microwave Reaction & Hydrogenation Reaction etc.
<br>
1. Analytical Facilities
<br>
We have well developed analytical laboratory consisting of NMR400 Mhz, LCMS/MS, GCMS, HPLC's, Preparative HPLC, Thermo Gravimetric Analysis (TGA), Karl fisher, IR (Infrared spectroscopy) & etc.
<br>
Let's become our business partner today to cut down on chemical discovery time and cost.
<br>
Please contact us with your synthesis requirements. In most cases, we are able to respond to enquiries within a few hours or at the latest by the following day.


</p>


    </div>
</div>

<!-- footer  -->
<div class="edufair-footer-1x padding-bottom-large">		
			
    <div class="edufair-footer-content">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 edufair-footer-subscription">	
                      
                  </div>	                                                                                         
                  <div class="col-md-4 edufair-footer-address">	
                  <h5>ABOUT</h5><br>
                      
                      <p style="text-align:justify;">Demo laboratories private limited (Based in India) are in Business for science &amp; innovation,
                      it is continuously involved in design, research , development with cost effective synthesis
                      and finding out new techniques of isolation &amp; purification.</p>
                                          
                  </div>
                  <div class="col-md-2">
<h5>Quick Links</h5><br>	

<p>Home </p>
<p>About </p>
<p>Product </p>
<p>Services </p>
<p>Facility </p>



                  </div>
                  <div class="col-md-3">
                  <h5>Contact</h5><br>
                  <p> <i class="fa fa-phone"></i>(+91) 8655 752 646 </p>				
                          <p> <i class="fa fa-envelope"></i>info@example.com </p>								
                          <p> <i class="fa fa-map-marker"></i>Demo Laboratories Pvt Ltd 38,
                          Solitaire Industrial Estate,
                          Plot No.TS-1, Near Nandi Palace Hotel,
                          MIDC-Phase 1, Dombivali (E),Mumbai, Maharashtra 421203
                          www.example.com</p>	
                  



                  </div>
                  
                  
                  <div class="col-md-3">	<h5>Download Sample COA</h5><br>
                  <div style="width: 100%; margin-top:20px;">
                    
                  </div>
                  
<a class="edufair-course-text" href="#"><button type="button" class="btn btn-primary">Sample 1</button></a> &nbsp;&nbsp;&nbsp;&nbsp; <a class="edufair-course-text" href="#"><button type="button" class="btn btn-primary">Sample 2</button></a>
                  </div>
                      
                  </div>
                                  
                  
          
              </div>					
          </div>			
    </div>