{% include 'navbar.html' %}

<style>
    .edufair-footer-1x {
    background: linear-gradient(to right, #12C3D2, #2edfb4 );
    width: 100%;
    color: #f1f1f1;
    padding-top: 70px;
    margin-top: 60px;
}
</style>

<h2 style="text-align: center;margin-top: 30px;margin-bottom: 30px;">Facilities At Allmpus </h2>
<div class="container">

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Organic synthesis Facilities
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    1. Facilities are available for the synthesis of complex organic molecules and all types of organic chemistry reaction. <br>
                    2. Facilities are available for high pressure reaction, microwave reaction and hydrogenation reaction. <br>
                    3. Facilities are available for dry reaction with temperature range 00C to -780C or below. <br>
                    4. Facilities are available for the isolation and identification of unknown impurities. <br>
                    5. Facilities are available for enzymatic reaction and degradation of final API to isolate impurities. <br>
                    6. Facilities are available for parallel reaction and all. <br>
                </div>
            </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Analytical Facilities
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                1. Facilities are available for the isolation of organic compound by silica gel column chromatography or Morden flash chromatography technique by using combi flash, grace or Bio-tage technique. <br>
                2. <strong>Shimadzu LC solution HPLC Analysis</strong>  systems are available for RT/RRT and peak purity confirmation as per pharmacopeia method or in house method.
                        <strong>Shimadzu LC solution preparative HPLC</strong>    is available for the isolation and identification of unknown impurities.
                
                Mass and HNMR analysis will done in collaboration with other FDA approved testing laboratories.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Storage Facilities
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                Storage Facilities are available from <strong>room temperature to 0 0C to -780C.</strong> 
            </div>
            <img src="https://www.allmpus.com/images/newpics/11.jpg" alt="" srcset="">
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                Packing and dispatch Facilities
            </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
            <div class="accordion-body">
                1. Solid and liquid compound are packed in high quality specially design high recovery vial with proper sealing and safety. <br>
                2. Sensitive products are packed in specially design vial under flow of nitrogen and ship in 0 to -780C as per requirement. <br>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                Documentation Facilities
            </button>
        </h2>
        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
            <div class="accordion-body">
                All require analytical data as per standard guideline will generate and ship with compound and soft copy by mail.
            </div>
        </div>
    </div>
</div>



</div>

<!-- Start footer -->

<div class="edufair-footer-1x padding-bottom-large">		
    
    <div class="edufair-footer-content">
        <div class="container">
            <div class="row">
                  <div class="col-md-12 edufair-footer-subscription">	
                      
                </div>	                                                                                         
                <div class="col-md-4 edufair-footer-address">	
                    <h5>ABOUT</h5><br>
                    
                    <p style="text-align:justify;">Demo laboratories private limited (Based in India) are in Business for science &amp; innovation,
                      it is continuously involved in design, research , development with cost effective synthesis
                      and finding out new techniques of isolation &amp; purification.</p>
                                          
                  </div>
                  <div class="col-md-2">
<h5>Quick Links</h5><br>	

<p>Home </p>
<p>About </p>
<p>Product </p>
<p>Services </p>
<p>Facility </p>



                  </div>
                  <div class="col-md-3">
                  <h5>Contact</h5><br>
                  <p> <i class="fa fa-phone"></i>(+91) 9876543210 </p>				
                          <p> <i class="fa fa-envelope"></i>info@example.com </p>								
                          <p> <i class="fa fa-map-marker"></i>Demo Laboratories Pvt Ltd 38,
                          Solitaire Industrial Estate,
                          Plot No.TS-1, Near Nandi Palace Hotel,
                          MIDC-Phase 1, Dombivali (E),Mumbai, Maharashtra 421203
                          www.Example.com</p>	
                  



                  </div>
                  
                  
                  <div class="col-md-3">	<h5>Download Sample COA</h5><br>
                  <div style="width: 100%; margin-top:20px;">
                    
                  </div>
                  
<a class="edufair-course-text" href="#"><button type="button" class="btn btn-primary">Sample 1</button></a> &nbsp;&nbsp;&nbsp;&nbsp; <a class="edufair-course-text" href="#"><button type="button" class="btn btn-primary">Sample 2</button></a>
                  </div>
                      
                  </div>
                                  
                  
          
              </div>					
          </div>			
    </div>