{% include 'navbar.html' %}
<style>
    img{
        height: 300px;
        width: 1300px;
        size: cover;
    }
    .edufair-footer-1x {
    background: linear-gradient(to right, #12C3D2, #2edfb4 );
    width: 100%;
    color: #f1f1f1;
    padding-top: 70px;
    margin-top: 60px;
}
p{
    font-weight: 500;
}
</style>

<div class="container">
    <img src="https://www.allmpus.com/images/cs-2.jpg" alt="" srcset="">
    <br>
    
    <p style="font-weight: 700;"> Identification, Isolation, purification and characterization of unknown impurity</p>
    <p>
        
        An unknown impurity formed during stability sample analysis 
<br>
        An unknown impurity formed in the fermentation-based Active Pharmaceutical Ingredient
        <br>
        An unknown impurity formed in the bulk drug and pharmaceutical dosage forms
        <br>
        An unknown impurity was detected in routine reverse phase impurity profiles
        <br>
        Please contact us with your requirements. In most cases, we are able to respond to enquiries within a few hours or at the latest by the following day.

    </p>
</div>

<div class="edufair-footer-1x padding-bottom-large">		
			
    <div class="edufair-footer-content">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 edufair-footer-subscription">	
                      
                  </div>	                                                                                         
                  <div class="col-md-4 edufair-footer-address">	
                  <h5>ABOUT</h5><br>
                      
                      <p style="text-align:justify;">Demo laboratories private limited (Based in India) are in Business for science &amp; innovation,
                      it is continuously involved in design, research , development with cost effective synthesis
                      and finding out new techniques of isolation &amp; purification.</p>
                                          
                  </div>
                  <div class="col-md-2">
<h5>Quick Links</h5><br>	

<p>Home </p>
<p>About </p>
<p>Product </p>
<p>Services </p>
<p>Facility </p>



                  </div>
                  <div class="col-md-3">
                  <h5>Contact</h5><br>
                  <p> <i class="fa fa-phone"></i>(+91) 8655 752 646 </p>				
                          <p> <i class="fa fa-envelope"></i>info@example.com </p>								
                          <p> <i class="fa fa-map-marker"></i>Demo Laboratories Pvt Ltd 38,
                          Solitaire Industrial Estate,
                          Plot No.TS-1, Near Nandi Palace Hotel,
                          MIDC-Phase 1, Dombivali (E),Mumbai, Maharashtra 421203
                          www.example.com</p>	
                  



                  </div>
                  
                  
                  <div class="col-md-3">	<h5>Download Sample COA</h5><br>
                  <div style="width: 100%; margin-top:20px;">
                    
                  </div>
                  
<a class="edufair-course-text" href="#"><button type="button" class="btn btn-primary">Sample 1</button></a> &nbsp;&nbsp;&nbsp;&nbsp; <a class="edufair-course-text" href="#"><button type="button" class="btn btn-primary">Sample 2</button></a>
                  </div>
                      
                  </div>
                                  
                  
          
              </div>					
          </div>			
    </div>